/Java/Clase 2/Ejercicios Clase 2/nbproject/private/
/Java/Clase 2/Ejercicios Clase 2/build/
/Java/Clase 2/ClaseObjetos/nbproject/private/
/Java/Clase 2/CapybaraFilms/nbproject/private/
/Java/Clase 2/CapybaraFilms/build/
/Java/Clase 1./CicloWhile.java
/Java/Clase 1./


/Java/Clase 2/Clase 3/nbproject/private/
/Java/Clase 2/Clase 3/build/
/Java/Clase 4/Clase4/target/
/Java/Clase 5/Clase5/nbproject/private/
/Java/Clase 3/Clase 3/nbproject/private/
/Java/Clase 3/Clase 3/build/

Python/.idea/
Python/.vscode/

/Java/Clase 6/Clase 6/nbproject/private/
/Java/Clase 6/Clase 6/build/
/Java/Clase 7/Clase 7/nbproject/private/
/Java/Clase 7/Clase 7/build/
/Java/Clase 8/Clase 8/nbproject/private/
/Java/Clase 7/Clase 7/dist/
/Java/Clase 8/Clase 8/build/
/Java/New Folder/Clase 9/nbproject/private/
/Java/Clase 9/Clase 9/build/
/Java/Clase 10/Clase10/nbproject/private/
/Java/Clase 10/Clase10/build/
/Java/Clase 10/Paquetes/nbproject/private/
/Java/Clase 10/Paquetes/build/
/Java/Clase 10/PalabraFinal/nbproject/private/
/Java/Clase 10/PalabraFinal/build/
